@import "https://fonts.googleapis.com/css?family=Comfortaa|Exo+2&display=swap";
@import "nav-bar.css";
@import "main-content.css";
@import "dropdown.css";
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css";
@import "layout.css"
