.main {
    margin-top: 70px;
    margin-left: 8px;
}

.topnav {
    overflow: hidden;
    background-color: #333;
    top: 0;
}

.topnav a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #4CAF50;
    color: white;
}
